<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수원 Hot Place</title>
</head>
<body style="margin:40px">
    <h3>수원 Hot Place 검색결과</h3>
    <hr>
    <iframe src="{{url_for('static', filename='img/hotplaces.html')}}" frameborder="1" style="height:1000px; width:1600px"></iframe>
    <button onclick="location.href='/hotplace'">재실행</button>
</body>
</html>