<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpark books</title>
</head>
<body>
    <h2>베스트셀러</h2>
    <hr>
    <table border="1">
        <tr><th>이미지</th><th>제목</th><th>저자</th><th>출판사</th><th>가격</th></tr>
        {% for book in book_list %}
            <tr>
                <td style="text-align: center;"><img src="{{book.img}}" height="40"></td>
                <td><a href="{{book.href}}" target="_blank">{{book.title}}</a></td>
                <td>{{book.author}}</td> <td>{{book.company}}</td> <td>{{book.price}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>