{% extends "ex.html" %}
{% block content %}
    <h2>베스트셀러</h2>
    <hr>
    <table class="table table-light table-striped" style="font-size:18px; text-align:center">
        <tr><th>이미지</th><th>제목</th><th>저자</th><th>출판사</th><th>가격</th></tr>
        {% for book in book_list %}
            <tr>
                <td ><img src="{{book.img}}" height="40"></td>
                <td><a href="{{book.href}}" target="_blank">{{book.title}}</a></td>
                <td>{{book.author}}</td> <td>{{book.company}}</td> <td>{{book.price}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}