<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/b822b7b38d.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  	{%with messages = get_flashed_messages()%}
	{%if messages %}
		<script type="text/javascript">
		alert("{{messages[-1]}}");
		</script>
		{%endif%}
	{%endwith%}
</head>
<script src="{{url_for('static', filename='js/ajax.js')}}"></script>
<style>
	body {background-image: url('../static/img/bg3.jpg'); background-size: auto;}
	* { font-family: 'Noto Sans KR', sans-serif; }
	a { text-decoration: none; }
</style>
{% block additional_head %}{% endblock %}
<body>
	<!-- =========================================상단 네비게이션바======================================== -->
	<nav class="navbar navbar-expand-sm navbar-dark" fixed-top style="background-color: black;">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home" style="margin-left:20px"><img src="{{url_for('static', filename='img/logo.jpg')}}" height="64"></a>
				<ul class="navbar-nav justify-content-center">								
					<li class="nav-item">
						<a class="nav-link {% if menu.ho %}active{% endif %}" href="{% if menu.ho %}#{% else %}/home{% endif %}"><i class="fas fa-home"></i>  Home</a>
					</li>
					<li class="nav-item ms-3">
						<a class="nav-link {% if menu.sc %}active{% endif %}" href="{% if menu.sc %}#{% else %}/schedule{% endif %}"><i class="fa-sharp fa-regular fa-calendar-days"></i> 스케쥴</a>
					</li>
					<li class="nav-item ms-3">
						<a class="nav-link {% if menu.us %}active{% endif %}" href="{% if menu.us %}#{% else %}/selfi{% endif %}"><i class="fa-solid fa-user"></i> 사용자</a>
					</li>
					<li class="nav-item ms-3 dropdown">
						<a type="button" class="nav-link dropdown-toggle {% if menu.cr %}active{% endif %}" data-bs-toggle="dropdown">
							<i class="fa-solid fa-spider"></i> 크롤링
						</a>
						<div class="dropdown-menu" style="text-align: center;">
							<a class="dropdown-item" href="/interpark">인터파크</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/jini">지니차트</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/siksin">식신</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/game">게임순위</a>
						</div>
					</li>
					<li class="nav-item ms-3">
						<a class="nav-link" href="#"><i class="fa-solid fa-brain"></i> 인공지능</a>
					</li>
					<li class="nav-item ms-3">
						{% if session['uid'] %}
							<a href="/user/logout" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> 로그아웃</a>
						{% else %}
							<a href="/user/login" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> 로그인</a>
						{% endif %}
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#"></a>
					</li>
				</ul>
				<span class="nav-bar me-3" style="color:azure">
					{% if session['uid'] %}
							{{ session['uid'] }}님 환영합니다.
					{% else %}
						{% block weather%}{{ weather|safe() }}{% endblock %}
					{% endif %}
				</span>
		</div>
	</nav>
	<!-- =========================================좌측어사이드============================================= -->
	<div class="container-fluid mt-5">
		<div class="row">
			<div class="col-2" style="font-weight: bold; text-align:center">
				<a href="javascript:changeProfile()">
				<img id="profile" src="{{url_for('static', filename='data/profile.png')}}" class="rounded-circle img-thumbnail" width="100%">
				</a>
				<div id="imageInput" class="mt-2 d-none">
					<input type="file" id="image" class="form-control form-control-sm">
					<a href="javascript:imageSubmit()">
						<span class="badge bg-primary">확인</span>
					</a>
				</div>
				<span id="quoteMsg">
					{{quote}} <a href="javascript:changeQuote()"><button type="button" class="btn btn-secondary btn-sm" >수정</button></a><hr>
				</span>
				<p><img src="{{url_for('static', filename='img/mail.jpg')}}" alt="gmail" height="16"> choibj1847@gmail.com</p><hr>
				<a href="https://github.com/cbj1847"><p><img src="{{url_for('static', filename='img/github.png')}}" alt="github" height="16"> beomjun</p></a><hr>
				<p><img src="{{url_for('static', filename='img/facebook.png')}}" alt="facebook" height="16"> Facebook:None</p><hr>
				<a href="#" onclick="changeAddr(); return false;"><img src="{{url_for('static', filename='img/addr.png')}}"alt="weather" height="16"></a>
				<span id="addr">{{ session['addr'] }}</span>	
				<a href="javascript:changeWeather()"><span id="weather" class="badge bg-secondary">날씨</span></a>
				<div id="show_weather" class="d-none"></div>
				<div id="addrInput" class="mt-2 d-none">
					<input type="text" id="addrInputTag" class="form-control form-control-sm">
					<a href="javascript:addrSubmit()">
						<span class="badge bg-primary">확인</span>
					</a>
				</div>
			</div>
	<!-- ========================================= 메인 영역 ================================================-->
			<div class="col-10" style="padding-right: 5%; padding-left: 5%">
				{% block main %}
				{% endblock %}
			</div>
		</div>
	</div>
	{% block additional_body %}{% endblock %}
	<!-- =========================================하단네비게이션바========================================= -->
	<!-- <nav class="navbar navbar-expand-sm bg-light fixed-bottom">
		<div class="container-fluid justify-content-center" style="font-size: 12px;">
			Temporary Copyright &copy;
		</div>
	</nav> -->
</body>
</html>