{% extends 'prototype/base.html' %}
{% block title %}인터파크도서 베스트셀러 목록{% endblock %}
{% block additional_head %}
<style>
    td {font-weight: bold;}
</style>
{% endblock %}

{% block main %}
<h2>베스트셀러</h2>
    <hr>
    <table class='table table-hover border-dark'>
        <tr><th>이미지</th><th>제목</th><th>저자</th><th>출판사</th><th>가격</th></tr>
        {% for book in book_list %}
            <tr class="align-middle">
                <td ><img src="{{book.img}}" height="50"></td>
                <td><a href="{{book.href}}" target="_blank">{{book.title}}</a></td>
                <td>{{book.author}}</td> <td>{{book.company}}</td>
                <td>{{book.price}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}