{% extends 'prototype/base.html' %}
{% block title %}지니차트{% endblock %}
{% block additional_head %}
<style>
    td {font-weight: bold;}
</style>
{% endblock %}

{% block main %}
<h2>지니차트 Top100</h2>
<hr>
<table class='table table-bordered border-dark'>
    <tr><th>랭킹</th><th>가수</th><th>제목</th><th>앨범</th></tr>
    {% for jini in jini_list %}
        <tr>
            <td><label class="col-form-label">{{jini.rank}}</label></td>
            <td><label class="col-form-label">{{jini.artists}}</label></td> 
            <td><label class="col-form-label">{{jini.title}}</label></td>
            <td><label class="col-form-label">{{jini.album}}</label></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}