{% extends 'prototype/base.html' %}
{% block title %}장안문 맛집리스트{% endblock %}
{% block additional_head %}
<style>
    table {font-weight: bold; text-align: center;}
</style>
{% endblock %}

{% block main %}
<h2>장안문 맛집리스트</h2>
<hr>
<table class='table table-hover border-dark'>
    <tr><th style="width: 6%;">대표사진</th><th style="width: 10%;">점포명</th><th style="width: 8%;">평점</th>
        <th style="width: 28%;">위치</th><th style="width: 38%;">대표메뉴</th></tr>
    {% for food in food_list %}
        <tr class="align-middle">
            <td><img src="{{food.img}}" style="height:60px"></td>
            <td>{{food.title}}</td>
            <td>{{food.score}}</td> 
            <td>{{food.loc}}</td>
            <td>{{food.menu}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}